 /* Navbar */
 a{
  text-decoration: none;
 }
 .navbar{
    font-family: 'Orbitron', sans-serif;
    background-color: black;
    color: white;
    text-decoration: none;
  }
  .nav-link {
    color: white;
    padding: 0.5rem 1rem;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
  }
  .nav-link:hover {
    border-radius: 0px;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
  }
  
  .nav-link::after {
    content: "";
    display: block;
    height: 3px;
    position: absolute;
    bottom: -3px;
    left: 0;
    right: 0;
    width: 0%;
    background-color: white;
    transition: all 0.2s ease-in-out;
  }
  
  .nav-link:hover::after {
    width: 100%;
  }
  
  .nav-link:active {
    border-radius: 0px;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
  }


  /* Slide Show */

  .tesla-cars {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Orbitron', sans-serif;
    min-height: 85vh;
    background: rgb(2,0,36);
    background: linear-gradient(228deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 0%, rgba(254,254,254,1) 100%);
  }
  
  .car-image {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .slide-in {
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
  }
  
  .slide-in.active {
    transform: scale(0.9);
  }

  
  .car-description {
    font-size: 1.2rem;
    /* margin-top: 0px; */
    font-family: monospace;
    text-align: center;
  }
  
  .car-models {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 6%;
    margin-bottom: 1rem;
    width: 100%;
  }
  
  .car-model {
    border: none;
    background-color: white;
    color: black;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 10%;
  }
  
  .car-model.active,
  .car-model:hover {
    background-color: black;
    color: white;
    border: 1px solid white;
  }
  .button-model {
    border: none;
    background-color: white;
    border: 1px solid transparent;
    color: black;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 150px;
  }
  
  .button-model:hover {
    background-color: black;
    color: white;
    border: 1px solid white;
  }
  
    
  @media (max-width: 768px) {
    .car-models {
      margin-top: 5rem;
    }
  
    .car-model {
      width: 20%;
    }
  }
  @media (max-width: 822px) {
    .car-models {
      margin-top: 15rem;
    }
  
    .car-model {
      width: 20%;
    }
  }
  
  @media (max-width: 576px) {
    .car-models {
      margin-top: 10rem;
    }
  
    .car-model {
      width: 30%;
      font-size: 0.8rem;
    }
  
    .car-description {
      font-size: 1rem;
    }
  
    .btn-container {
      flex-direction: column;
      align-items: center;
    }
  
    .btn-container button {
      margin-top: 1rem;
    }
  }

  /* Car details */

  .model-details{
    margin-top: 4rem;
  }
  


  /* Footer */
  .footer {
    background-color: #000;
    color: #fff;
    padding: 40px 0;
    text-align: center;
   
  }
  
  .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  .footer-links li {
    margin: 0 20px;
  }
  
  .footer-links a {
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: all 0.3s ease-in-out;
    
  }
  
  .footer-links a:hover {
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid white;
  }
  
  .footer-social-media a {
    display: inline-block;
    margin-left: 20px;
    color: #fff;
  }
  
  .footer-social-media a:hover {
    color: #aaa;
  }
  
  .footer-text {
    margin-top: 40px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 3px;
  }
  .row{
    --bs-gutter-x:0
  }
@media screen and (max-width:394px) {
  .footer-links a{
    font-size: 14px;
  }
}

/* Description */

.imagecomp{
  background-color: black;
}
/* .models{
  background-color: lightgrey;
}

.carousel{
  border: 5px solid black;
} */

.desc-tbl{
  color: black;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  
 } 

 .button-desc {
  border: none;
  background-color: black;
  border: 3px solid transparent;
  color: white;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 150px;
}

.button-desc:hover {
  background-color: white;
  color: black;
  border: 3px solid black;
}
/* @media only screen and (max-width: 416px) {
  .button-desc {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }
} */


/* Form */

/* .demo-drive-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
  margin-bottom: 4rem;
  height: 100%;
}

.demo-drive-form {
  width: 80%;
  margin-right: 2rem;
  background-color: #000;
  padding: 20px;
  color: #fff;
  border-radius: 10px;
}

.demo-drive-form label {
  margin-bottom: 10px;
  margin-top: 5px;
}

.demo-drive-image {
  text-align: center;
  margin-top: 10rem;
}

@media screen and (max-width:767px) {
  .demo-drive-image {
    margin-top: 0px;
  }
}
 
.btn-form {
  color: #fff;
  background-color: #000;
  border: 2px solid white;
  padding: 10px 20px;
  font-size: 16px;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  border-radius: 2px;
}

.btn-form:hover {
  background-color: #fff;
  color: #000;
  cursor: pointer;
  border: 2px solid #000;
}



@media only screen and (max-width: 416px) {
  .btn-form {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  .demo-drive-form{
    width: 100%;
  }
} */
/* .demo-drive-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  max-width: 600px;
  margin: 0 auto;
  background-color: black;
  color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.demo-drive-form h1 {
  font-size: 32px;
  margin-bottom: 20px;
}

.form-group {
  width: 100%;
  margin-bottom: 10px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 600;
}

.form-control {
  width: 100%;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  font-size: 16px;
}

.datepicker {
  border-radius: 5px;
}

.btn-form {
  width: 100%;
  max-width: 200px;
  margin-top: 20px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #000;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-form:hover {
  background-color: #fff;
  color: #000;
} */
/* .demo-drive-form {
  background-color: black;
  color: white;
  border: 1px solid white;
  padding: 20px;
  width: 60%;
  margin: 4rem auto;
}

.demo-drive-form label {
  display: block;
  margin-bottom: 10px;
}

.demo-drive-form select,
.demo-drive-form input[type="text"],
.demo-drive-form input[type="tel"],
.demo-drive-form input[type="email"] {
  background-color: black;
  color: white;
  border: 1px solid white;
  border-radius: 0;
  padding: 5px;
  width: 100%;
  margin-bottom: 5px;
}

.demo-drive-form select option {
  background-color: black;
  color: white;
}

.btn-form {
  color: #fff;
  background-color: #000;
  border: 2px solid white;
  padding: 10px 20px;
  font-size: 16px;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  border-radius: 2px;
  width: 100%;
}

.btn-form:hover {
  background-color: #fff;
  color: #000;
  cursor: pointer;
  border: 2px solid #000;
} */




.demo-drive-form-container {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  margin-top: 6rem;
  margin-bottom: 4rem;
  /* height: 100%; */
}

.demo-drive-form {
  width: 80%;
  margin-right: 2rem;
}

.demo-drive-image {
  text-align: center;
  margin-top: 10rem;
}

@media screen and (max-width:767px) {
  .demo-drive-image {
    margin-top: 0px;
  }
}
.btn-form {
  color: #fff;
  background-color: #000;
  border: 2px solid white;
  padding: 10px 20px;
  font-size: 16px;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  border-radius: 2px;
  width: 100%;
}

.btn-form:hover {
  background-color: #fff;
  color: #000;
  cursor: pointer;
  border: 2px solid #000;
}

.validate{
  color: rgb(220, 86, 86);
  /* text-align: center; */
  /* font-weight: bolder; */
  font-style: italic;
  font-size: medium;
  padding: 2px;
  /* border: 1px dashed rosybrown; */
}

.form-group label{
  font-weight: 600;
}
.form-control{
  margin-top: 4px;
  border: 1px solid black;
}

 select::-ms-expand {
  display: none;
}
select {
  display: inline-block;
  box-sizing: border-box;
  padding: 0.5em 2em 0.5em 0.5em;
  border: 1px solid #eee;
  font: inherit;
  line-height: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background-repeat: no-repeat;
  background-image: linear-gradient(45deg, transparent 50%, currentColor 50%), linear-gradient(135deg, currentColor 50%, transparent 50%);
  background-position: right 15px top 1em, right 10px top 1em;
  background-size: 5px 5px, 5px 5px;
} 


@media only screen and (max-width: 416px) {
  .btn-form {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  .demo-drive-form{
    width: 100%;
  }
}





  